@inherits ItemTTT.Views.BaseView
@inject ItemTTT.Tree.Cwd cwd;
@{
	Init( PageHelper );

	PageHelper.Parameters.PageTitle = ViewBag.Title ?? PageHelper.Parameters.PageTitle;
	var blah = "Blah blah";
}
@section Scripts
{
	<script type="text/javascript">
		$('#preParameters').html( JSON.stringify(ttt.common.pageParameters, null, 2) )
	</script>
}

<p><strong>PWD:</strong> @Tree_Pwd()</p>
@using( Cwd.PushDisposable("./zelist") )
{
	<p><strong>PWD:</strong> @Tree_Pwd()</p>
	@foreach( var item in (await Tree_GetNodeData() ) )
	{
		if( item["active"] == false )
			continue;

		<strong>name: </strong>@item["name"]<br/>
	}

	@foreach( var path in await Tree_GetChildNodeNames() )
	{
		@if( path == "image02" )
			continue;

		<span>@path</span>
		<span>@Tree_Pwd(path)</span>
		<img tree-image="@path/img"/><br/>
	}
	<p><strong>PWD:</strong> @Tree_Pwd()</p>
}
<p><strong>PWD:</strong> @Tree_Pwd()</p>

<tree-pageProperty path="./" property="title">
	<strong>Page title:</strong> <input type="text" data-bind="value:value"/>
</tree-pageProperty>
<tree-pageProperty property="foo">
	<strong>Foo:</strong> <input type="text" data-bind="value:value"/>
</tree-pageProperty>

<h2>Value from C#:</h2> '@blah'
<h2>Value from database:</h2> '@ViewBag.Foo'
<h2>HTML text from database:</h2> <span tree-html="./sometext"></span>
<h2>Translated HTML text from database:</h2> <span tree-htmlTranslated="./sometranslatedtext"></span>
<div ttt-only-if="IsEN">IsEN</div>
<div ttt-only-if="IsFR">IsFR</div>
<div ttt-only-if="IsNL">IsNL</div>
<img tree-image="image01"/>
<img tree-image="image02" tree-parameters="height=60"/>
<pre id="preParameters"></pre>
