@inherits ItemTTT.Views.BaseView
@{
	Init( PageHelper );
	Layout = null;

	var parameters = PageHelper.Parameters;
	var model = (ItemTTT.Views.Blog.BlogController.ListModel)Model;
	var posts = model.BlogPosts;
}
@foreach( var post in posts )
{
	<li ttt-blog-id="@post.ID" style="border:1px solid black">

		<a href="@post.Url">
			<h1 ttt-only-if="IsEN">@Html.Raw(post.TitleHtmlEN)</h1>
			<h1 ttt-only-if="IsFR">@Html.Raw(post.TitleHtmlFR)</h1>
			<h1 ttt-only-if="IsNL">@Html.Raw(post.TitleHtmlNL)</h1>
		</a>

		<div data-bind="html:imageHtml">@Html.Raw(post.ImageHtml)</div>

		<p>@FormatDate(post.Date)</p>

		<div ttt-only-if="IsEN">@Html.Raw(post.TextHtmlEN)</div>
		<div ttt-only-if="IsFR">@Html.Raw(post.TextHtmlFR)</div>
		<div ttt-only-if="IsNL">@Html.Raw(post.TextHtmlNL)</div>

	</li>
}
