@inherits ItemTTT.Views.BaseView
@{
	Init( PageHelper );

	var parameters = PageHelper.Parameters;
	var item = (ItemTTT.DTOs.BlogPost)Model;

	string pageTitle;
	switch( PageHelper.CurrentLanguage )
	{
		case Languages.fr:	pageTitle = item.TitleHtmlFR;	break;
		case Languages.nl:	pageTitle = item.TitleHtmlNL;	break;
		case Languages.en:
		default:			pageTitle = item.TitleHtmlEN;	break;
	}
	pageTitle = System.Text.RegularExpressions.Regex.Replace( pageTitle, @"<[^>]*>", "" );  // Remove tags
	pageTitle = System.Net.WebUtility.HtmlDecode( pageTitle );  // Interpret HTML escapes
	parameters.PageTitle = pageTitle;

	var hasPrevious	= (item.UrlPrevious != null);
	var hasNext		= (item.UrlNext != null);
}

<a ttt-only-if="hasPrevious" href="@item.UrlPrevious">PREVIOUS</a>
<a ttt-only-if="hasNext" href="@item.UrlNext">NEXT</a>

<h1 ttt-only-if="IsEN">@Html.Raw(item.TitleHtmlEN)</h1>
<h1 ttt-only-if="IsFR">@Html.Raw(item.TitleHtmlFR)</h1>
<h1 ttt-only-if="IsNL">@Html.Raw(item.TitleHtmlNL)</h1>

<div>@Html.Raw(item.ImageHtml)</div>

<p>@FormatDate(item.Date)</p>

<div ttt-only-if="IsEN">@Html.Raw(item.TextHtmlEN)</div>
<div ttt-only-if="IsFR">@Html.Raw(item.TextHtmlFR)</div>
<div ttt-only-if="IsNL">@Html.Raw(item.TextHtmlNL)</div>
