@inherits ItemTTT.Views.BaseView
@{
	Init( PageHelper );

	var parameters = PageHelper.Parameters;
	var item = (ItemTTT.DTOs.Item)Model;
	parameters.PageTitle = item.Name;
}

<div>
	<label ttt-only-if="IsEN">Name:</label>
	<label ttt-only-if="IsFR">Nom:</label>
	<label ttt-only-if="IsNL">Naam:</label>
	@item.Name
</div>
<div>
	<span ttt-only-if="IsEN"><label>Description:</label> @item.DescriptionEN</span>
	<span ttt-only-if="IsFR"><label>Description:</label> @item.DescriptionFR</span>
	<span ttt-only-if="IsNL"><label>Beschrijving:</label> @item.DescriptionNL</span>
</div>
<div>
	<label ttt-only-if="IsEN">Price:</label>
	<label ttt-only-if="IsFR">Prix:</label>
	<label ttt-only-if="IsNL">Prijs:</label>
	@FormatPrice(item.Price)
</div>
<div>
	<label>Features:</label>
	@foreach( var feature in item.Features )
	{
		<div ttt-only-if="IsEN" style="display:inline-block;border:1px solid black">@feature.EN</div>
		<div ttt-only-if="IsFR" style="display:inline-block;border:1px solid black">@feature.FR</div>
		<div ttt-only-if="IsNL" style="display:inline-block;border:1px solid black">@feature.NL</div>
	}
</div>
<div>
	<label>Options:</label>
	@foreach( var option in item.Options )
	{
		<div ttt-only-if="IsEN" style="display:inline-block;border:1px solid black">@option.EN</div>
		<div ttt-only-if="IsFR" style="display:inline-block;border:1px solid black">@option.FR</div>
		<div ttt-only-if="IsNL" style="display:inline-block;border:1px solid black">@option.NL</div>
	}
</div>
<div>
	<label>First image:</label>
	<div style="background-image:url(&quot;@item.FirstImage.UrlOriginal&quot;);background-size:contain;width:300px;height:100px"></div>
</div>
<div>
	<label>Main image:</label>
	<div style="background-image:url(&quot;@item.MainImage.Url100&quot;);background-size:contain;width:300px;height:100px"></div>
</div>
<div>
	<label>All images:</label><br/>
	@foreach( var img in item.Pictures )
	{
		<img src="@img.Url133"/>
	}
</div>

Model dump:
<pre>
@Html.Raw(JSON( item ))
</pre>
