@inherits ItemTTT.Views.BaseView
@{
	Init( PageHelper );
	var model = (ItemTTT.Views.ItemTTTController.ListModel)Model;

	if( model.NoLayout )
	{
		Layout = null;
	}
}

Cars list:
@foreach( var item in model.Items )
{
	<div style="border:1px solid black">
		<div ttt-only-if="PageHelper.IsAutenticated" >
			<label>Active: <input type="checkbox" checked="@item.Active"/></label>
		</div>
		<a href="@item.DetailsUrls[PageHelper.CurrentLanguage]">
			<div>
				<label ttt-only-if="IsEN">Name:</label>
				<label ttt-only-if="IsFR">Nom:</label>
				<label ttt-only-if="IsNL">Naam:</label>
				@item.Name
			</div>
			<img src="@item.MainImage.Url260"/>
		</a>
	</div>
}

Model dump:
<pre>
@Html.Raw(JSON( model ))
</pre>
