@inherits ItemTTT.Views.BaseView
@{
	Init( PageHelper );

	var parameters = PageHelper.Parameters;
	var model = (ItemTTT.Views.Testimonial.TestimonialController.ListModel)Model;
	var items = model.Items;
	var imageUploadErrorMessage = "An error occurred: unable to read the image file";
	var saveSuccessMessage =  IsEN ? "Your message has been recorded. Thank you!"
							: IsFR ? "Votre message a été enregistré. Merci!"
							: "Uw bericht is opgenomen. Dank u!";
}
@section Scripts
{
<script type="text/javascript">
	ttt.testimonial.list.init( {
			urlImgNotFound			: @Html.Raw(JSON( model.UrlImgNotFound )),
			imageUploadErrorMessage	: @Html.Raw(JSON( imageUploadErrorMessage )),
			saveSuccessMessage		: @Html.Raw(JSON( saveSuccessMessage )),
			$blockingDiv			: $('body'),
			$formDialog				: $('#e2c7c1b9'),
			$picUploadControl		: $('#d13591a9'),
		} );
</script>
}

@* Popup open button *@
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#e2c7c1b9">
	<span ttt-only-if="IsEN">Leave a testimonial</span>
	<span ttt-only-if="IsFR">Laissez-nous votre témoignage</span>
	<span ttt-only-if="IsNL">Click hier voor uw deelname in het Golden Book !</span>
</button>
@* Popup content *@
<div class="modal fade" id="e2c7c1b9" tabindex="-1" role="dialog" aria-labelledby="eed640a8" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">

					<span id="eed640a8" ttt-only-if="IsEN">Your Car Golden Book form</span>
					<span id="eed640a8" ttt-only-if="IsFR">Formulaire de témoignage Your Car</span>
					<span id="eed640a8" ttt-only-if="IsNL">Your Car Golden Book vorm</span>

				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">

				<ul>
					<li>
						<span ttt-only-if="IsEN">Your name</span>
						<span ttt-only-if="IsFR">Votre nom</span>
						<span ttt-only-if="IsNL">Uw naam</span>
						<input type="text" data-bind="value:firstLastName"/>
					</li>
					<li>
						<span ttt-only-if="IsEN">Who are you?</span>
						<span ttt-only-if="IsFR">Qui êtes-vous?</span>
						<span ttt-only-if="IsNL">Wie bent u?</span>
						<input type="text" data-bind="value:whosWho"/>
					</li>
					<li>
						<span ttt-only-if="IsEN">Testimonial</span>
						<span ttt-only-if="IsFR">Témoignage</span>
						<span ttt-only-if="IsNL">Testimonial</span>
						<textarea data-bind="value:text"></textarea>
					</li>
				</ul>

				<input type="file" id="d13591a9" />
				<button data-bind="visible:(imageData() != null), click:function(){ imageData(null); }">Clear</button>
				<img data-bind="visible:(imageData() != null), attr:{ src:imageSrc }" width="650px" height="650px"/>

			</div>
			<div class="modal-footer">

				<span ttt-only-if="IsEN" data-bind="ttt_blink:showRequiredText">Please fill in all the fields</span>
				<span ttt-only-if="IsFR" data-bind="ttt_blink:showRequiredText">Veuillez remplir tous les champs</span>
				<span ttt-only-if="IsNL" data-bind="ttt_blink:showRequiredText">Gelieve alle velden in te vullen</span>

				<button type="button" data-bind="click:close" class="btn btn-secondary">
					<span ttt-only-if="IsEN">Close</span>
					<span ttt-only-if="IsFR">Fermer</span>
					<span ttt-only-if="IsNL">Gesloten</span>
				</button>

				<button type="button" data-bind="click:save" class="btn btn-primary">
					<span ttt-only-if="IsEN">Save</span>
					<span ttt-only-if="IsFR">Valider</span>
					<span ttt-only-if="IsNL">Verzenden</span>
				</button>

			</div>
		</div>
	</div>
</div>

@* Entries list *@
<ul>
@foreach( var item in items )
{
	<li ttt-testimonial-id="@item.ID">
		<img src="@item.ImageData" style="width:60px"/><br/>
		<span ttt-only-if="PageHelper.IsAuthenticated">
			<i data-bind="click:toggleActive" class="fa @(item.Active ? "fa-check-square-o" : "fa-square-o")" style="cursor:pointer"></i>
			<i data-bind="click:edit" class="fa fa-wrench" style="cursor:pointer"></i>
			<i data-bind="click:delete_" class="fa fa-times" style="cursor:pointer"></i>
			<br/>
		</span>
		<span>@Html.Raw(HtmlShield(item.Text))</span><br/>
		<span>@item.FirstLastName</span><br/>
		<span>@item.WhosWho</span>
	</li>
}
</ul>
